body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
}



h2 {
  margin-bottom: 10px;
}

button {
  margin-left: 5px;
  padding: 6px 10px;
  cursor: pointer;
}

input, textarea, select {
  margin: 5px 0;
  padding: 6px;
  width: 100%;
  max-width: 400px;
}
ul {
  list-style: none;
  padding: 0;
}

li {
  background: white;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 5px;
}
header {
  color: black;
  padding: 10px 0px;
}

header a {
  color: white;
  margin-right: 10px;
  text-decoration: none;
}
